body {
    font-family: monospace;   
    background-image: url(img/back_big.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 100%;
}



.content {
    min-height: calc(100vh - 70px);
}

footer {
    text-align: right;
    height: 70px;
    color: #ffecd1;
}

#chaos {
    text-align: center;
	font-size: 80px;
	font-weight: 700;
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
	background-image: url(img/chaos.jpg);

}

#chaos:hover {
    text-align: left;
	font-size: 80px;
	font-weight: 700;
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
	background-image: url(img/chaos_negative.jpg);
}

.txt-not-need {
    font-size: 20px;
    color: #faa613 ;
}

.list-chaos {
    font-size: 16px;
    color: #faa613 ;
}

.list-chaos:hover {
    color: #a10702;
    font-size: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
 